# Environments
venv/
env/
.env

# Python caches
__pycache__/
*.pyc
.pytest_cache/

# IDEs
.vscode/
.idea/

# Models
model/
*.zip
*.pkl

# AI Datasets
datasets/

# Logs
*.log
nexus_ai/logs/



# Config files with secrets
settings.json
*settings.json

# Database & model downloads
nexus_ai/data/
